APP_NAME=Effective Mobile Test API

POSTGRES_DB=intern_auth
POSTGRES_USER=intern_user
POSTGRES_PASSWORD=intern_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

JWT_SECRET=dev-jwt-secret
JWT_ALGORITHM=HS256
JWT_ACCESS_MINUTES=60
